.banner__title {
    width: 383px;
    height: 96px;
    display: flex;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5em;
    align-items: center;
    margin-top: 168px;
    margin-bottom: 220px;
    margin-left: 7rem;
}

@media only screen and (max-width: 600px){
    .banner__title {
    display: flex;
    margin-left: 2rem;
    margin-top: 10rem
        }
    .banner__content {
        position: relative;
        left: -4em;
    }    
}

.banner__content {
    width: 611px;
    height: 64px;
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    opacity: 0.7;
    margin-left: 6.9rem;
    margin-top: -220px;
}