.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin:10px;
    color:#ffffff;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.header__logo {
    display: flex;
}

.header__Search {
    display: flex;
    /* flex-direction: flex-start; */
    justify-content: space-between;
    flex: 0.3;
}

.header__SearchIcon {
    margin-right: -50px;
}